<h1 class="todo_list_title">New Grocery List</h1>

<div class="forms">
	<%= render 'form' %>
</div>

<div class="links">
  <%= link_to "Back", todo_lists_path, class: "btn btn-danger btn-lg"%>
</div>
